body {
	font-family: "Sarabun", sans-serif;
	color: rgba(51, 51, 51, 1);
}

@media (min-width: 1200px) {
	.container {
		max-width: 1440px;
	}
}

.layout-3 {
	background-image: url("../img/bg.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}
.navbar {
	height: 70px;
	left: 250px;
	right: 5px;
	position: absolute;
	z-index: 890;
	background-color: transparent;
	margin-left: 20px;
	margin-right: 20px;
}
.navbar .navbar-brand {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-weight: 700;
	font-size: 12px;
}
.navbar-bg {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 50px;
	background-color: #fff;
	z-index: -1;
	margin: 10px;
	border-radius: 6px;
}

.navbar .active .nav-link {
	color: #000;
	font-weight: 700;
}

.navbar .nav-link.nav-link-user {
	color: #000;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 600;
}

body.layout-3 .main-content {
	padding-left: 0;
	padding-right: 0;
	padding-top: 100px;
}
.login-brand {
	margin: 20px 0;
	margin-bottom: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0px;
	color: #666;
	text-align: center;
	font-weight: 700;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td,
.table:not(.table-sm):not(.table-md):not(.dataTable) th {
	padding: 0 10px;
	height: 60px;
	vertical-align: middle;
}

/* select2 */
.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #e4e6fc;
	/*border-color: #e4e6fc !important;*/
	border-radius: 4px;
	height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 42px !important;
}

.nav-link .dropdown-menu {
	box-shadow: 0 10px 40px 0 rgba(51, 73, 94, 0.15);
	border: none;
	width: 250px;
}

.table:not(.table-sm) thead th {
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.04);
	color: rgba(51, 51, 51, 1);
	padding-top: 15px;
	padding-bottom: 15px;
}
